notion-todoist-bidirectional-sync.json
{
  "name": "Notion-Todoist Bidirectional Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Run Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {},
      "id": "trigger-live",
      "name": "Manual Trigger (Live)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        480
      ]
    },
    {
      "parameters": {},
      "id": "trigger-dryrun",
      "name": "Dry Run (Preview Only)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        660
      ]
    },
    {
      "parameters": {},
      "id": "trigger-initial",
      "name": "Initial Sync (Notion\u2192Todoist Only)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mode-1",
              "name": "syncMode",
              "value": "live",
              "type": "string"
            },
            {
              "id": "mode-2",
              "name": "dryRun",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set-live-mode",
      "name": "Set Live Mode",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        390
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mode-3",
              "name": "syncMode",
              "value": "dryrun",
              "type": "string"
            },
            {
              "id": "mode-4",
              "name": "dryRun",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set-dryrun-mode",
      "name": "Set Dry Run Mode",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        660
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mode-5",
              "name": "syncMode",
              "value": "initial",
              "type": "string"
            },
            {
              "id": "mode-6",
              "name": "dryRun",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set-initial-mode",
      "name": "Set Initial Mode",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        840
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "11c3f70913a98025b03cd901c80f83dc",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "get-notion-tasks",
      "name": "Get All Notion Tasks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        460,
        390
      ],
      "credentials": {
        "notionApi": {
          "id": "",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter tasks and extract relevant properties\n// Robust detection for robby@215.tech assignment\n\nconst items = $input.all();\nconst results = [];\n\n// Get mode by checking which Set node was triggered\nlet syncMode = 'live';\nlet dryRun = false;\n\ntry {\n  const initialData = $('Set Initial Mode').first().json;\n  if (initialData && initialData.syncMode === 'initial') {\n    syncMode = 'initial';\n    dryRun = false;\n  }\n} catch (e1) {\n  try {\n    const dryData = $('Set Dry Run Mode').first().json;\n    if (dryData && dryData.dryRun === true) {\n      syncMode = 'dryrun';\n      dryRun = true;\n    }\n  } catch (e2) {\n    // Default to live mode\n    syncMode = 'live';\n    dryRun = false;\n  }\n}\n\nfunction valueContainsRobby(value) {\n  return JSON.stringify(value ?? '').toLowerCase().includes('robby');\n}\n\nfunction isAssignedToRobby(page) {\n  if (page.property_assigned_to && valueContainsRobby(page.property_assigned_to)) {\n    return true;\n  }\n\n  for (const key of Object.keys(page)) {\n    if (!key.toLowerCase().includes('assign')) continue;\n    if (valueContainsRobby(page[key])) return true;\n  }\n\n  return false;\n}\n\nfunction normalizeTodoistId(value) {\n  if (value === null || value === undefined) return '';\n  return String(value).trim();\n}\n\nfor (const item of items) {\n  const page = item.json;\n\n  // Skip mode-setting items (no id)\n  if (!page.id || page.syncMode) continue;\n\n  // Get properties (n8n flattens to property_*)\n  const title = String(page.property_name || page.Name || page.title || '').trim();\n  const status = String(page.property_status || '').trim();\n  const todoistId = normalizeTodoistId(page.property_todoist_id ?? page['property_Todoist ID']);\n\n  const isRobbyAssigned = isAssignedToRobby(page);\n\n  results.push({\n    json: {\n      notionId: page.id,\n      notionUrl: page.url,\n      title,\n      status,\n      todoistId,\n      isAssignedToRobby: isRobbyAssigned,\n      lastEdited: page.last_edited_time,\n      syncMode,\n      dryRun,\n    },\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { empty: true, syncMode, dryRun } }];"
      },
      "id": "filter-notion",
      "name": "Extract Notion Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        390
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "projectId": "6cJcgXJ5v2GqhR4c"
        }
      },
      "id": "get-todoist-tasks",
      "name": "Get Todoist Work Tasks",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        460,
        600
      ],
      "credentials": {
        "todoistApi": {
          "id": "",
          "name": "Todoist account"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Extract Todoist tasks and parse NotionID links\nconst items = $input.all();\nconst results = [];\n\n// Get mode by checking which Set node was triggered\nlet syncMode = 'live';\nlet dryRun = false;\n\ntry {\n  const initialData = $('Set Initial Mode').first().json;\n  if (initialData && initialData.syncMode === 'initial') {\n    syncMode = 'initial';\n    dryRun = false;\n  }\n} catch (e1) {\n  try {\n    const dryData = $('Set Dry Run Mode').first().json;\n    if (dryData && dryData.dryRun === true) {\n      syncMode = 'dryrun';\n      dryRun = true;\n    }\n  } catch (e2) {\n    syncMode = 'live';\n    dryRun = false;\n  }\n}\n\nfor (const item of items) {\n  const task = item.json;\n  \n  // Skip mode items\n  if (task.syncMode && !task.id) continue;\n  if (!task.id) continue;\n  \n  // Extract NotionID from description\n  let linkedNotionId = '';\n  const description = task.description || '';\n  const match = description.match(/\\[NotionID:([a-f0-9-]+)\\]/i);\n  if (match) linkedNotionId = match[1];\n  \n  results.push({\n    json: {\n      todoistId: String(task.id),\n      content: task.content,\n      description: description,\n      isCompleted: task.is_completed || false,\n      linkedNotionId: linkedNotionId,\n      projectId: task.project_id,\n      syncMode: syncMode,\n      dryRun: dryRun\n    }\n  });\n}\n\n// ALWAYS return at least one item so merge works\nreturn results.length > 0 ? results : [{ json: { empty: true, noTodoistTasks: true, syncMode, dryRun } }];"
      },
      "id": "extract-todoist",
      "name": "Extract Todoist Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        600
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-data",
      "name": "Combine All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        940,
        495
      ]
    },
    {
      "parameters": {
        "jsCode": "// COMPREHENSIVE SYNC ACTION DETERMINATION\n// Case-insensitive status matching\n\nconst allItems = $input.all();\n\n// Get mode\nlet syncMode = 'live';\nlet dryRun = false;\n\ntry {\n  const initialData = $('Set Initial Mode').first().json;\n  if (initialData && initialData.syncMode === 'initial') {\n    syncMode = 'initial';\n    dryRun = false;\n  }\n} catch (e1) {\n  try {\n    const dryData = $('Set Dry Run Mode').first().json;\n    if (dryData && dryData.dryRun === true) {\n      syncMode = 'dryrun';\n      dryRun = true;\n    }\n  } catch (e2) {\n    syncMode = 'live';\n    dryRun = false;\n  }\n}\n\nfunction normalizeTodoistId(value) {\n  if (value === null || value === undefined) return '';\n  return String(value).trim();\n}\n\n// Separate Notion and Todoist tasks\nconst notionTasks = [];\nconst todoistTasks = [];\n\nfor (const item of allItems) {\n  const data = item.json;\n\n  if (data.notionId && !data.empty) {\n    notionTasks.push({\n      ...data,\n      todoistId: normalizeTodoistId(data.todoistId),\n    });\n  }\n  if (data.todoistId && data.projectId && !data.empty) {\n    todoistTasks.push({\n      ...data,\n      todoistId: normalizeTodoistId(data.todoistId),\n    });\n  }\n}\n\n// Build lookup maps\nconst todoistByNotionId = {};\nconst todoistById = {};\nconst currentTodoistIds = new Set();\n\nfor (const t of todoistTasks) {\n  if (t.linkedNotionId) todoistByNotionId[t.linkedNotionId] = t;\n  todoistById[t.todoistId] = t;\n  currentTodoistIds.add(t.todoistId);\n}\n\nconst notionByNotionId = {};\nconst notionByTodoistId = {};\n\nfor (const n of notionTasks) {\n  notionByNotionId[n.notionId] = n;\n  if (n.todoistId) notionByTodoistId[n.todoistId] = n;\n}\n\n// Status groups - CASE INSENSITIVE matching\nfunction normalizeStatus(status) {\n  return String(status || '').toLowerCase().trim();\n}\n\nfunction isActiveStatus(status) {\n  const normalized = normalizeStatus(status);\n  return normalized === 'not started' || normalized === 'in progress';\n}\n\nfunction isDeleteStatus(status) {\n  const normalized = normalizeStatus(status);\n  return normalized === 'on hold' || normalized === 'abandoned or not applicable';\n}\n\nfunction isDoneStatus(status) {\n  return normalizeStatus(status) === 'done';\n}\n\nconst results = [];\n\n// ========================================\n// NOTION → TODOIST DIRECTION\n// ========================================\n\nfor (const notion of notionTasks) {\n  let linkedTodoist = null;\n  if (notion.todoistId && todoistById[notion.todoistId]) {\n    linkedTodoist = todoistById[notion.todoistId];\n  } else if (todoistByNotionId[notion.notionId]) {\n    linkedTodoist = todoistByNotionId[notion.notionId];\n  }\n\n  const targetTodoistId = notion.todoistId || (linkedTodoist ? linkedTodoist.todoistId : null);\n  const hasTodoistId = notion.todoistId !== '';\n\n  // CASE A: NOT assigned to Robby\n  if (!notion.isAssignedToRobby) {\n    if (linkedTodoist || hasTodoistId) {\n      results.push({\n        json: {\n          action: 'delete_from_todoist',\n          reason: 'Robby removed from assignment',\n          notionId: notion.notionId,\n          notionTitle: notion.title,\n          notionStatus: notion.status,\n          todoistId: targetTodoistId,\n          syncMode,\n          dryRun,\n        },\n      });\n    }\n    continue;\n  }\n\n  // CASE B: Status triggers DELETE\n  if (isDeleteStatus(notion.status)) {\n    if (linkedTodoist || hasTodoistId) {\n      results.push({\n        json: {\n          action: 'delete_from_todoist',\n          reason: 'Status is ' + notion.status,\n          notionId: notion.notionId,\n          notionTitle: notion.title,\n          notionStatus: notion.status,\n          todoistId: targetTodoistId,\n          syncMode,\n          dryRun,\n        },\n      });\n    }\n    continue;\n  }\n\n  // CASE C: Status is Done\n  if (isDoneStatus(notion.status)) {\n    if (linkedTodoist && !linkedTodoist.isCompleted) {\n      results.push({\n        json: {\n          action: 'close_todoist',\n          reason: 'Notion marked Done',\n          notionId: notion.notionId,\n          notionTitle: notion.title,\n          todoistId: targetTodoistId,\n          syncMode,\n          dryRun,\n        },\n      });\n    }\n    continue;\n  }\n\n  // CASE D: Active status (Not Started / In Progress)\n  if (isActiveStatus(notion.status)) {\n    if (!linkedTodoist && !hasTodoistId) {\n      // No link → CREATE in Todoist\n      results.push({\n        json: {\n          action: 'create_in_todoist',\n          reason: 'New active task assigned to Robby',\n          notionId: notion.notionId,\n          notionTitle: notion.title,\n          notionUrl: notion.notionUrl,\n          notionStatus: notion.status,\n          syncMode,\n          dryRun,\n        },\n      });\n    } else if (linkedTodoist) {\n      if (notion.title !== linkedTodoist.content) {\n        results.push({\n          json: {\n            action: 'update_todoist_title',\n            reason: 'Title changed in Notion',\n            notionId: notion.notionId,\n            notionTitle: notion.title,\n            todoistId: targetTodoistId,\n            oldTitle: linkedTodoist.content,\n            syncMode,\n            dryRun,\n          },\n        });\n      }\n      if (linkedTodoist.isCompleted) {\n        results.push({\n          json: {\n            action: 'mark_notion_done',\n            reason: 'Completed in Todoist',\n            notionId: notion.notionId,\n            notionTitle: notion.title,\n            todoistId: targetTodoistId,\n            syncMode,\n            dryRun,\n          },\n        });\n      }\n    }\n  }\n}\n\n// ========================================\n// TODOIST → NOTION DIRECTION (Live mode only)\n// ========================================\n\nif (syncMode !== 'initial') {\n  for (const notion of notionTasks) {\n    const hasTodoistId = notion.todoistId !== '';\n    if (hasTodoistId && !currentTodoistIds.has(notion.todoistId)) {\n      if (isActiveStatus(notion.status)) {\n        results.push({\n          json: {\n            action: 'mark_notion_abandoned',\n            reason: 'Todoist task was deleted',\n            notionId: notion.notionId,\n            notionTitle: notion.title,\n            notionStatus: notion.status,\n            missingTodoistId: notion.todoistId,\n            syncMode,\n            dryRun,\n          },\n        });\n      }\n    }\n  }\n\n  for (const todoist of todoistTasks) {\n    if (!todoist.linkedNotionId && !todoist.isCompleted) {\n      const linkedNotion = notionByTodoistId[todoist.todoistId];\n      if (!linkedNotion) {\n        results.push({\n          json: {\n            action: 'create_in_notion',\n            reason: 'New task in Todoist Work project',\n            todoistId: todoist.todoistId,\n            todoistContent: todoist.content,\n            todoistDescription: todoist.description,\n            syncMode,\n            dryRun,\n          },\n        });\n      }\n    }\n  }\n}\n\n// ========================================\n// MODE FILTERING\n// ========================================\n\nlet filteredResults = results;\n\nif (syncMode === 'initial') {\n  filteredResults = results.filter(r => r.json.action === 'create_in_todoist');\n}\n\nif (filteredResults.length === 0) {\n  return [{ json: { action: 'none', message: 'No sync actions needed', syncMode, dryRun } }];\n}\n\nreturn filteredResults;"
      },
      "id": "determine-actions",
      "name": "Determine Sync Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        495
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dryrun-check",
              "leftValue": "={{ $json.dryRun }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-dryrun",
      "name": "Is Dry Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        495
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate preview summary\nconst items = $input.all();\nconst syncMode = items[0]?.json?.syncMode || 'unknown';\n\nconst actionLabels = {\n  'create_in_todoist': '\u2795 CREATE in Todoist',\n  'close_todoist': '\u2705 CLOSE in Todoist',\n  'delete_from_todoist': '\ud83d\uddd1\ufe0f DELETE from Todoist',\n  'mark_notion_done': '\u2713 MARK DONE in Notion',\n  'mark_notion_abandoned': '\u26a0\ufe0f MARK ABANDONED in Notion',\n  'update_todoist_title': '\ud83d\udcdd UPDATE title in Todoist',\n  'create_in_notion': '\ud83d\udcc4 CREATE in Notion',\n  'none': '\u23f8\ufe0f No action'\n};\n\nconst byType = {};\nlet total = 0;\n\nfor (const item of items) {\n  const action = item.json.action;\n  if (action === 'none') continue;\n  \n  total++;\n  if (!byType[action]) byType[action] = [];\n  byType[action].push(item.json.notionTitle || item.json.todoistContent || 'Unknown');\n}\n\n// Build summary\nlet summary = `\\n${'='.repeat(50)}\\n\ud83d\udd0d DRY RUN PREVIEW - NO CHANGES MADE\\nMode: ${syncMode.toUpperCase()}\\n${'='.repeat(50)}\\n\\n`;\n\nif (total === 0) {\n  summary += '\u2728 No sync actions needed! Everything is in sync.\\n';\n} else {\n  summary += `\ud83d\udcca Total actions that WOULD be taken: ${total}\\n\\n`;\n  \n  for (const [action, titles] of Object.entries(byType)) {\n    summary += `${actionLabels[action] || action} (${titles.length}):\\n`;\n    for (const title of titles) {\n      summary += `   \u2022 ${title}\\n`;\n    }\n    summary += '\\n';\n  }\n}\n\nsummary += `${'='.repeat(50)}\\n\ud83d\udca1 To execute: Use \"Manual Trigger (Live)\" or \"Initial Sync\"\\n${'='.repeat(50)}`;\n\nreturn [{ json: { \n  mode: 'DRY RUN',\n  syncMode,\n  totalActions: total,\n  byType,\n  readableSummary: summary,\n  allActions: items.map(i => i.json)\n}}];"
      },
      "id": "preview-summary",
      "name": "Preview Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-actions",
      "name": "Has Actions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1640,
        600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_in_todoist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "close_todoist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Close"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete_from_todoist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "mark_notion_done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MarkDone"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update_todoist_title",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UpdateTitle"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "mark_notion_abandoned",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MarkAbandoned"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_in_notion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CreateNotion"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "route-actions",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1880,
        540
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "project": {
          "__rl": true,
          "value": "6cJcgXJ5v2GqhR4c",
          "mode": "id"
        },
        "content": "={{ $json.notionTitle }}",
        "additionalFields": {
          "description": "={{ '\ud83d\udcce ' + $json.notionUrl + '\\n\\n[NotionID:' + $json.notionId + ']' }}"
        }
      },
      "id": "create-todoist",
      "name": "Create Task in Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        2160,
        160
      ],
      "credentials": {
        "todoistApi": {
          "id": "",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the Todoist task that was just created\nconst todoistTask = $json;\n\n// Try to get notionId from the original Route by Action data\nlet notionId = '';\ntry {\n  notionId = $('Route by Action').item.json.notionId;\n} catch (e) {\n  // Fallback: parse from the description we set\n  const desc = todoistTask.description || '';\n  const match = desc.match(/\\[NotionID:([a-f0-9-]+)\\]/i);\n  if (match) {\n    notionId = match[1];\n  }\n}\n\n// Get the Todoist task ID (as number)\nconst newTodoistId = Number(todoistTask.id);\n\n// Debug output\nreturn [{ \n  json: { \n    notionId: notionId,\n    newTodoistId: newTodoistId,\n    _debug: {\n      todoistTaskId: todoistTask.id,\n      todoistDescription: todoistTask.description,\n      foundNotionId: notionId,\n      routeByActionAvailable: !!$('Route by Action')?.item?.json\n    }\n  } \n}];"
      },
      "id": "prep-notion-update",
      "name": "Prepare Notion Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        160
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notionId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Todoist ID|number",
              "numberValue": "={{ $json.newTodoistId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "store-todoist-id",
      "name": "Store Todoist ID in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2600,
        160
      ],
      "credentials": {
        "notionApi": {
          "id": "",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "close",
        "taskId": "={{ $json.todoistId }}"
      },
      "id": "close-todoist",
      "name": "Close Task in Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        2160,
        320
      ],
      "credentials": {
        "todoistApi": {
          "id": "",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "delete",
        "taskId": "={{ $json.todoistId }}"
      },
      "id": "delete-todoist",
      "name": "Delete Task from Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        2160,
        480
      ],
      "credentials": {
        "todoistApi": {
          "id": "",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notionId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Todoist ID|number",
              "numberValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "clear-todoist-id",
      "name": "Clear Todoist ID in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2380,
        480
      ],
      "credentials": {
        "notionApi": {
          "id": "",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notionId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "Done"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-notion-done",
      "name": "Mark Notion Task Done",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2160,
        640
      ],
      "credentials": {
        "notionApi": {
          "id": "",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "update",
        "taskId": "={{ $json.todoistId }}",
        "updateFields": {
          "content": "={{ $json.notionTitle }}"
        }
      },
      "id": "update-todoist-title",
      "name": "Update Todoist Title",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        2160,
        800
      ],
      "credentials": {
        "todoistApi": {
          "id": "",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notionId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "Abandoned or Not Applicable"
            },
            {
              "key": "Todoist ID|number",
              "numberValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "mark-notion-abandoned",
      "name": "Mark Notion Abandoned",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2160,
        960
      ],
      "credentials": {
        "notionApi": {
          "id": "",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "11c3f70913a98025b03cd901c80f83dc",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "textValue": "={{ $json.todoistContent }}"
            },
            {
              "key": "Status|status",
              "statusValue": "Not started"
            },
            {
              "key": "Todoist ID|number",
              "numberValue": "={{ Number($json.todoistId) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-notion-task",
      "name": "Create Task in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2160,
        1120
      ],
      "credentials": {
        "notionApi": {
          "id": "",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const notionPage = $json;\nconst previousData = $('Route by Action').item.json;\nreturn [{ json: { \n  todoistId: previousData.todoistId,\n  newNotionId: notionPage.id,\n  existingDescription: previousData.todoistDescription || ''\n} }];"
      },
      "id": "prep-todoist-update",
      "name": "Prepare Todoist Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        1120
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "update",
        "taskId": "={{ $json.todoistId }}",
        "updateFields": {
          "description": "={{ ($json.existingDescription || '') + '\\n[NotionID:' + $json.newNotionId + ']' }}"
        }
      },
      "id": "update-todoist-notionid",
      "name": "Add NotionID to Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        2600,
        1120
      ],
      "credentials": {
        "todoistApi": {
          "id": "",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notion-Todoist Bidirectional Sync v2\n\n**Features:**\n- Initial Sync mode (one-way Notion\u2192Todoist)\n- Dry Run preview mode\n- Full bidirectional sync\n- Deleted Todoist \u2192 Mark Notion Abandoned\n- New Todoist \u2192 Create in Notion\n- Assignment removal \u2192 Delete from Todoist\n\n### Triggers\n| Trigger | Purpose |\n|---------|--------|\n| Run Every 5 Minutes | Automatic sync |\n| Manual (Live) | Test full sync |\n| Dry Run | Preview actions |\n| Initial Sync | Populate Todoist from Notion |",
        "height": 380,
        "width": 400
      },
      "id": "note-info",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Action Reference\n\n| Action | Direction | Description |\n|--------|-----------|-------------|\n| create_in_todoist | N\u2192T | New Notion task |\n| close_todoist | N\u2192T | Notion=Done |\n| delete_from_todoist | N\u2192T | On Hold/Abandoned/Robby removed |\n| update_todoist_title | N\u2192T | Title changed |\n| mark_notion_done | T\u2192N | Todoist completed |\n| mark_notion_abandoned | T\u2192N | Todoist deleted |\n| create_in_notion | T\u2192N | New Todoist task |",
        "height": 280,
        "width": 400
      },
      "id": "note-actions",
      "name": "Actions Reference",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        560
      ]
    }
  ],
  "connections": {
    "Run Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Set Live Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Live)": {
      "main": [
        [
          {
            "node": "Set Live Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry Run (Preview Only)": {
      "main": [
        [
          {
            "node": "Set Dry Run Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Sync (Notion\u2192Todoist Only)": {
      "main": [
        [
          {
            "node": "Set Initial Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Live Mode": {
      "main": [
        [
          {
            "node": "Get All Notion Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Todoist Work Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Dry Run Mode": {
      "main": [
        [
          {
            "node": "Get All Notion Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Todoist Work Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Initial Mode": {
      "main": [
        [
          {
            "node": "Get All Notion Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Todoist Work Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Notion Tasks": {
      "main": [
        [
          {
            "node": "Extract Notion Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Notion Data": {
      "main": [
        [
          {
            "node": "Combine All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Todoist Work Tasks": {
      "main": [
        [
          {
            "node": "Extract Todoist Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Todoist Data": {
      "main": [
        [
          {
            "node": "Combine All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine All Data": {
      "main": [
        [
          {
            "node": "Determine Sync Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Sync Actions": {
      "main": [
        [
          {
            "node": "Is Dry Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Dry Run?": {
      "main": [
        [
          {
            "node": "Preview Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Actions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Actions?": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Create Task in Todoist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Close Task in Todoist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Task from Todoist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Notion Task Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Todoist Title",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Notion Abandoned",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Task in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task in Todoist": {
      "main": [
        [
          {
            "node": "Prepare Notion Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notion Update": {
      "main": [
        [
          {
            "node": "Store Todoist ID in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Task from Todoist": {
      "main": [
        [
          {
            "node": "Clear Todoist ID in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task in Notion": {
      "main": [
        [
          {
            "node": "Prepare Todoist Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Todoist Update": {
      "main": [
        [
          {
            "node": "Add NotionID to Todoist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
